// TODO pull in most recent colors
@color-semi-black: #222222;
@color-grey: #A5A4A4;
@color-pale-grey: #EFEFED;
@color-white: #FFFFFF;
@color-off-white: #FCFCF7;

// colors borrowed from the button flair
@color-press-1: #E50000;
@color-press-2: #E59500;
@color-press-3: #E5D900;
@color-press-4: #02BE01;
@color-press-5: #0083C7;
@color-press-6: #820080;


// borrowed from variables.less
@screen-sm-min: 768px;

// mixins from mixins.less
.flex(@props) {
  -webkit-flex: @props;
  flex: @props;
}

.flex-wrap(@props) {
  -webkit-flex-wrap: @props;
  flex-wrap: @props;
}

.flex-direction(@props) {
  -webkit-flex-direction: @props;
  flex-direction: @props;
}

.display-flex() {
  display: -webkit-flex;
  display: flex;
}

.justify-content(@props) {
    -webkit-justify-content: @props;
    justify-content: @props;
}


body {
    background-color: @color-pale-grey;
}

.content {
    margin: 0 auto;
    background-color: @color-white;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: darken(@color-pale-grey, 5%);
}

.footer-parent {
    padding-top: 0;
}


@robin--color-text-default: @color-semi-black;
@robin--color-text-inverted: @color-pale-grey;
@robin--color-text-system: @color-grey;
@robin--color-flair-0: @color-press-1;
@robin--color-flair-1: darken(@color-press-2, 2%);
@robin--color-flair-2: darken(@color-press-3, 5%);
@robin--color-flair-3: @color-press-4;
@robin--color-flair-4: @color-press-5;
@robin--color-flair-5: @color-press-6;

.robin--username {
    color: @robin--color-text-default;

    .robin--flair-class--flair-0 & {
        color: @robin--color-flair-0;
    }

    .robin--flair-class--flair-1 & {
        color: @robin--color-flair-1;
    }

    .robin--flair-class--flair-2 & {
        color: @robin--color-flair-2;
    }

    .robin--flair-class--flair-3 & {
        color: @robin--color-flair-3;
    }

    .robin--flair-class--flair-4 & {
        color: @robin--color-flair-4;
    }

    .robin--flair-class--flair-5 & {
        color: @robin--color-flair-5;
    }

    .robin--user-class--self & {
        color: @robin--color-text-default;
    }

    .robin--user-class--system & {
        color: @robin--color-text-system;
    }
}


.robin-home {

    @robin-home--color-thebutton: #24A0ED;
    @robin-home--color-thebutton-container: #EAEAEA;

    overflow: auto;
    text-align: center;

    .robin-home--thebutton {
        font-weight: 500;
        line-height: 25px;
        outline: none;
        margin: 10px;
        background-color: @robin-home--color-thebutton;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.10) 100%);
        border: 1px solid darken(@robin-home--color-thebutton, 5%);
        box-shadow: 0px 4px 0px 0px darken(@robin-home--color-thebutton, 15%),
                    0px 0px 0px 0px rgba(255,255,255,0.60),
                    0px 6px 4px 0px rgba(0,0,0,0.30),
                    inset 0px 1px 0px 0px rgba(255,255,255,0.20);

        border-radius: 5px;
        height: 40px;
        width: 170px;
        transform: translate(0, -4px);
        transition: all 0.1s;
    }

    .robin-home--thebutton-text {
        color: @robin--color-text-inverted;
        font-size: 12px;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
        opacity: 1;
        transition: opacity 0.2s;
    }
    
    .robin--thebutton-state--locked,
    .robin--thebutton-state--pressed {
        .robin-home--thebutton-text {
            opacity: 0;
        }
    }
    
    .robin--thebutton-state--unlocked .robin-home--thebutton:hover {
        background-image: none;
        transform: translate(0, -3px);
        box-shadow: 0px 3px 0px 0px darken(@robin-home--color-thebutton, 15%),
                0px 0px 0px 0px rgba(255,255,255,0.60),
                0px 4px 4px 0px rgba(0,0,0,0.30),
                inset 0px 1px 0px 0px rgba(255,255,255,0.20);
    }

    .robin--thebutton-state--locked > .robin-home--thebutton,
    .robin--thebutton-state--unlocked .robin-home--thebutton:active {
        background-color: darken(@robin-home--color-thebutton, 3%) ; //#1E92D9
        box-shadow: 0px 0px 0px 0px darken(@robin-home--color-thebutton, 15%),
                    0px 1px 0px 0px rgba(255,255,255,0.60),
                    0px 0px 3px 0px rgba(0,0,0,0.30),
                    inset 0px 1px 0px 0px rgba(255,255,255,0.20);
        transform: translate(0, 0);
    }

    .robin--thebutton-state--pressed > .robin-home--thebutton {
        background-image: none !important;
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        box-shadow: 0px 0px 0px 0px #D7D7D7,
                    0px 1px 0px 0px rgba(255,255,255,0.40),
                    0px 0px 2px 0px rgba(0,0,0,0.10),
                    inset 0px 2px 0px 0px rgba(255,255,255,0.20) !important;
        transform: translate(0, 0) !important;
    }

    .robin-home--thebutton-container {
        position: relative;
        display: inline-block;
        margin: 100px auto 50px;
        background: @robin-home--color-thebutton-container;
        border: 1px solid #E0E0E0;
        box-shadow: inset 0px 1px 1px 0px rgba(73,73,73,0.10);
        border-radius: 5px;

        &.robin--thebutton-state--locked,
        &.robin--thebutton-state--unlocking {
            &:after,
            &:before {
                cursor: pointer;
                text-align: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;
                z-index: 100;
                transform: translate(0, 0) scale(1, 1);
                background-position: center center;
                background-repeat: no-repeat;
                transition: all 0.2s;
                opacity: 1;
                line-height: 60px;
                font-size: 14px;
            }

            &:before {
                content: '';
                display: block;
            }
        }

        &.robin--thebutton-state--locked {
            &:before {
                background-color: rgba(73,73,73,0.95);
                background-image: data-uri('../robin-icons/robin-icon-robin-big.png');
                background-size: 30px 30px;
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
            }
        }

        &.robin--thebutton-state--locked:hover {
            &:before {
                transform: translate(0, -10px) scale(1, 1);
                background-color: rgba(73,73,73,0.70);
                // background-image: data-uri('unlocked-icon.png');
                // background-size: 22px 35px;
                box-shadow: 0 3px 5px rgba(0,0,0,0.1);
            }
        }

        &.robin--thebutton-state--unlocking {
            & {
                transition-delay: 0.3s;
            }

            &:before {
                opacity: 0;
                transform: translate(0, -80px) scale(1, -1);
            }
        }
    }

    .robin-home--heavy-load-container {
        padding: 10px;
        margin: 10px;
        background-color: #FFFC7F;
        font-size: 1.2em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .robin-home--notice {
        margin: 15px auto;
        line-height: 20px;
    }

}

.footer-parent {
  margin-top: 30px;

  .footer, a[href="https://www.reddit.com/code/"] {
    display: none !important;
  }
}

.robin-chat {

    @robin-chat--window-height: 400px;
    @robin-chat--sidebar-width: 300px;
    @robin-chat--color-title: @color-grey;
    @robin-chat--color-sidebar: @color-pale-grey;
    @robin-chat--color-vote-default: @color-white;
    @robin-chat--color-vote-hover: @color-off-white;
    @robin-chat--color-vote-active: @color-grey;
    @robin-chat--color-vote-down: darken(@color-grey, 5%);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    .robin-chat--header {
        border-bottom: 1px solid darken(@color-pale-grey, 5%);
        box-sizing: border-box;
        padding: 15px 20px;
        
        h1 {
            line-height: 20px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .robin-chat--room-name {
        color: @robin-chat--color-title;
    }

    .robin-chat--body {
        .display-flex();
        .flex-direction(row);
        height: 500px;
        height: 65vh;
    }

    .robin-chat--main {
        .flex(1 1);
        // fixes flex layout in Safari :(
        border-right: 1px solid transparent;
        .display-flex();
        .flex-direction(column);
    }

    .robin-chat--window {
        overflow-x: hidden;
        overflow-y: scroll;
        .flex(1 1 auto);
    }

    .robin-chat--message-list {
        .display-flex();
        .flex-direction(column);
        .justify-content(flex-end);
        padding-top: 7px;
        padding-bottom: 8px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .robin-chat--sidebar {
        background-color: @robin-chat--color-sidebar;
        .flex(0 0 @robin-chat--sidebar-width);
        .display-flex();
        .flex-direction(column);
    }

    .robin-chat--sidebar-widget {
        padding: 15px;
        border-bottom: 1px solid lighten(@robin-chat--color-sidebar, 5%);
        // border-bottom: 1px solid darken(@robin-chat--color-sidebar, 5%);

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .robin-chat--report {
        text-align: right;
    }

    .robin-chat--buttons {
        .display-flex();
    }

    ._vote-button-style {
        appearance: none;
        background-color: @robin-chat--color-vote-default;
        border: none;
        border-radius: 2px;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
        color: lighten(@robin--color-text-default, 10%);
        display: block;
        font-size: 13px;
        line-height: 20px;
        margin: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;
        text-transform: capitalize;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &[disabled] {
            font-style: italic;
        }

        &:hover {
            background-color: @robin-chat--color-vote-hover;
        }

        &:focus {
            background-color: darken(@robin-chat--color-vote-hover, 5%);
            outline: 1px solid @robin-chat--color-vote-default;
        }

        &.robin--active,
        &:active {
            background-color: darken(@robin-chat--color-sidebar, 10%);
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20) inset;
        }
    }

    .robin-chat--quit,
    .robin-chat--vote {
        // TODO prefixes
        .flex(1 1);
        transition: background-color 0.15s;
        ._vote-button-style();
    }

    .robin-chat--vote .robin--icon {
        display: block;
        margin: auto;
    }

    .robin-chat--notification-widget {
        label {
            display: block;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.5px;
            line-height: 15px;
        }

        input[type=checkbox] {
            margin-right: 5px;
            width: 20px;
        }
    }

    .robin-chat--user-list-widget {
        overflow: scroll;

        .robin-room-participant {
            margin-bottom: 5px;
        }
    }

    .robin-user-list-overflow-indicator {
        color: @color-grey;
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        line-height: 20px;
        margin-left: 25px;
    }

    .robin-chat--input {
        padding: 10px;
        position: relative;

        input[type=submit] {
            display: none;
        }

        .text-counter {
            text-align: right;
            color: @color-grey;
        }
    }

}


.robin-message {

    color: @robin--color-text-default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 15px;
    padding: 2px 5px 3px;
    word-break: break-all;

    .robin-message--from {
        transition: opacity 300ms ease 0.5s;
        font-weight: 500;
        margin-left: 5px;
        opacity: 1;
    }

    .robin-message--timestamp {
        transition: opacity 300ms ease 1s;
        color: @robin--color-text-system;
        font-size: 11px;
        font-weight: 300;
        opacity: 1;
    }

    .robin-message--message {
        margin-left: 5px;
    }

    &.robin-message--display-compact {
        .robin-message--message {
            margin-left: 15px;
        }
    }

    &.robin--user-class--system {
        color: @robin--color-text-system;
    }

    &.robin--message-class--action {
        .robin-message--from,
        .robin-message--message {
            font-style: italic;
        }
    }

    .robin-message--character {
        transition: all 200ms;
        transform: translate(0, 0);
        opacity: 1;
        display: inline-block;
    }
}

.robin--animation-class--juicy-pop {
    .robin-message--character {
        transform: translate(0, 20px);
        opacity: 0;
    }

    .robin-message--timestamp {
        opacity: 0;
    }

    .robin-message--from {
        opacity: 0;
    }
}



.robin-room-participant {

    .robin--username {
        line-height: 20px;
        font-size: 14px;
        font-weight: 300;
        color: @color-semi-black;
        display: inline-block;
        vertical-align: middle;
    }

    &.robin--presence-class--away {
        .robin--username {
            font-style: italic;
            color: @color-grey;
        }
    }

}


.robin--icon {
    ._robin-icon-unvoted();
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

&.robin--vote-class--abandon {
    .robin--icon {
        ._robin-icon-voted-abandon();
    }
}

&.robin--vote-class--continue {
    .robin--icon {
        ._robin-icon-voted-continue();
    }
}


&.robin--vote-class--increase {
    .robin--icon {
        ._robin-icon-voted-increase();
    }
}

&.robin--presence-class--away {
    .robin--icon {
        ._robin-icon-unvoted-away();
    }

    &.robin--vote-class--abandon {
        .robin--icon {
            ._robin-icon-voted-abandon-away();
        }
    }

    &.robin--vote-class--continue {
        .robin--icon {
            ._robin-icon-voted-continue-away();
        }
    }

    &.robin--vote-class--increase {
        .robin--icon {
            ._robin-icon-voted-increase-away();
        }
    }
}

@media
only screen and (min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 2) {
    .robin--icon {
        /* fixes HDPI icons in dev */
        background-size: 100%; 
        ._robin-icon-unvoted_2x();
    }

    &.robin--vote-class--abandon {
        .robin--icon {
            ._robin-icon-voted-abandon_2x();
        }
    }

    &.robin--vote-class--continue {
        .robin--icon {
            ._robin-icon-voted-continue_2x();
        }
    }


    &.robin--vote-class--increase {
        .robin--icon {
            ._robin-icon-voted-increase_2x();
        }
    }

    &.robin--presence-class--away {
        .robin--icon {
            ._robin-icon-unvoted-away_2x();
        }

        &.robin--vote-class--abandon {
            .robin--icon {
                ._robin-icon-voted-abandon-away_2x();
            }
        }

        &.robin--vote-class--continue {
            .robin--icon {
                ._robin-icon-voted-continue-away_2x();
            }
        }

        &.robin--vote-class--increase {
            .robin--icon {
                ._robin-icon-voted-increase-away_2x();
            }
        }
    }
}


._robin-icon-unvoted() {
    background-image: url('../robin-icons/robin-icon-unvoted.png'); /* SPRITE */
}

._robin-icon-voted-abandon() {
    background-image: url('../robin-icons/robin-icon-voted-abandon.png'); /* SPRITE */
}

._robin-icon-voted-continue() {
    background-image: url('../robin-icons/robin-icon-voted-continue.png'); /* SPRITE */
}

._robin-icon-voted-increase() {
    background-image: url('../robin-icons/robin-icon-voted-increase.png'); /* SPRITE */
}

._robin-icon-unvoted-away() {
    background-image: url('../robin-icons/robin-icon-unvoted-away.png'); /* SPRITE */
}

._robin-icon-voted-abandon-away() {
    background-image: url('../robin-icons/robin-icon-voted-abandon-away.png'); /* SPRITE */
}

._robin-icon-voted-continue-away() {
    background-image: url('../robin-icons/robin-icon-voted-continue-away.png'); /* SPRITE */
}

._robin-icon-voted-increase-away() {
    background-image: url('../robin-icons/robin-icon-voted-increase-away.png'); /* SPRITE */
}

._robin-icon-unvoted_2x() {
    background-image: url('../robin-icons/robin-icon-unvoted_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-voted-abandon_2x() {
    background-image: url('../robin-icons/robin-icon-voted-abandon_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-voted-continue_2x() {
    background-image: url('../robin-icons/robin-icon-voted-continue_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-voted-increase_2x() {
    background-image: url('../robin-icons/robin-icon-voted-increase_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-unvoted-away_2x() {
    background-image: url('../robin-icons/robin-icon-unvoted-away_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-voted-abandon-away_2x() {
    background-image: url('../robin-icons/robin-icon-voted-abandon-away_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-voted-continue-away_2x() {
    background-image: url('../robin-icons/robin-icon-voted-continue-away_2x.png'); /* SPRITE pixel-ratio=2 */
}

._robin-icon-voted-increase-away_2x() {
    background-image: url('../robin-icons/robin-icon-voted-increase-away_2x.png'); /* SPRITE pixel-ratio=2 */
}


@media all and (max-width: @screen-sm-min) {
  // abandon flex
  .robin-chat .robin-chat--body {
    display: block;
  }

  .robin-chat--window {
    max-height: 200px;
  }

  .robin-chat--buttons {
    text-align: center;
  }

  .robin-chat--vote {
    display: inline-block !important;
  }

  ////////// hacks to clean up the header and footer until the rest of reddit is responsive
  #sr-header-area,
  #header-bottom-right {
      display: none;
  }

  .footer {
      display:none;
  }
  //////////
}
