<h1>robin (${len(thing.rooms)} rooms)</h1>

<ul>
  %for room in sorted(thing.rooms, key=lambda room: (room.level, len(room.participants)), reverse=True):
    <li>
      <%
        if len(room.participants) > 32:
          name_str = ', '.join(user.name for user in room.participants[:32])
          name_str += ', ...'
          name_str += ' (%s total)' % len(room.participants)
        else:
          name_str = ', '.join(user.name for user in room.participants)
      %>
      <a href="/robin/${room.id}">${room.id}</a> (L${room.level}/U${len(room.participants)}): ${name_str}
    </li>
  %endfor
</ul>
