<% from r2.lib import js %>

<%namespace file="utils.html" import="md"/>

<div class="robin-home">
    % if thing.robin_heavy_load: 
        <div id="heavyLoadRobinContainer"
                class="robin-home--heavy-load-container">
            Robin is currently experiencing heavy load.  Please try again later.
        </div>
    % else:
        <div id="joinRobinContainer"
                class="robin-home--thebutton-container robin--thebutton-state--locked">
            <button class="robin-home--thebutton" id="joinRobin">
                <span class="robin-home--thebutton-text">Participate</span>
            </button>
        </div>
    % endif 
    <div class="robin-home--notice">
        ${md("Robin will run until 2016-04-08.  Find out more at r/joinrobin.")}
    </div>
</div>

${unsafe(js.use("robin-join"))}
